<div class="eqLogic eqLogic-widget  allowResize allowReorderCmd frigate_widget frigate #custom_layout# #eqLogic_class# #class#"
    data-version="#version#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-eqType="#eqType#" data-tags="#tags#"
    style="text-align:center; border:#border#; border-radius:#border-radius#; color: #color#;width: #width#;height: #height#;#style#;">


    <center class="widget-name">
        <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
        <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
    </center>

    <img id="imgFrigate#id#" class="img-responsive" src="" />
    <br>
    #imgUrl#

    <script>
        let imgElement#id# = document.getElementById('imgFrigate' + #id#);


        let intervalId#id#;


        const observerOptions#id# = {
            root: null,
            rootMargin: '0px',
            threshold: 0.1 // image considérée visible si au moins 10% est visible
        };

        const observerCallback#id# = (entries, observer) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    startImageFetchInterval#id#();
                } else {
                    stopImageFetchInterval#id#();
                }
            });
        };

        const observer#id# = new IntersectionObserver(observerCallback#id#, observerOptions#id#);
        observer#id#.observe(imgElement#id#);

        function startImageFetchInterval#id#() {
            if (typeof intervalId#id# === 'undefined') {
                intervalId#id# = setInterval(refreshImage#id#, 5000);
            }
        }

        function stopImageFetchInterval#id#() {
            if (intervalId#id#) {
                clearInterval(intervalId#id#);
                intervalId#id# = null;
            }
        }

        function refreshImage#id#() {
            if (typeof imgElement#id# === 'undefined') {
                let imgElement#id# = document.getElementById('imgFrigate' + #id#);
            }
            let name = "#cameraName#";
            let img = "#imgUrl#";
            let eid = "#cameraEqlogicId#";

            $.ajax({
                type: "POST",
                url: "plugins/frigate/core/ajax/frigate.ajax.php",
                data: {
                    action: "refreshCameras",
                    img: img.replace(/&amp;/g, '&'),
                    name: name,
                    eqlogicId: eid,
                    who: "dashboard"
                },
                dataType: 'json',
                error: function (request, status, error) {
                    handleAjaxError(request, status, error);
                },
                success: function (data) {
                    if (data.result == 'KO' || data.result == 'error') {
                        $('#div_alert').showAlert({
                            message: '{{L\'image n\'est pas disponible.}}',
                            level: 'warning'
                        });
                        return;
                    } else {
                        imgUrl = data.result
                        imgElement#id#.src = imgUrl + "?timestamp=" + new Date().getTime();
                    }

                }
            })
        }

    	refreshImage#id#();
    </script>
</div>