<div class="eqLogic eqLogic-widget allowResize allowReorderCmd frigate_widget frigate #custom_layout# #eqLogic_class# #class#"
    data-version="#version#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-eqType="#eqType#" data-tags="#tags#"
    style="text-align:center; border:#border#; border-radius:#border-radius#; color: #color#;#style#; width: #width#;height: #height#">

    <center class="widget-name">
        <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
        <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>

        <span class="cmd refresh  pull-right cursor" data-cmd_id="#refreshAll_id#" onclick="gotoCameraEvents#id#()"
            title="{{Afficher les évènements de la caméra}}">
            <i class="fas fa-photo-video iconGotoCameraEvents#id#"></i>
        </span>
    </center>

    <div class="column">
        <div class="img-container">
            <img id="imgFrigate#id#" class="img-responsive" src="" onclick="openModal#id#(this)" />
            #detectNow#
            #ptzWidget#
            #ptzZoom#
        </div>
        <div class="btn-container">
            <div class="btn-actions">

                #actions#
                #actionsPreset#
            </div>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="myModal#id#" class="modal">
        <img class="modal-content" id="modalImg#id#" onclick="closeModal#id#()">
        <div id="caption">
            <div class="btn-actions">
                <div class="btn-icon">
                    <i class="fas fa-photo-video iconActionOff#id#" onclick="gotoCameraEvents#id#()"
                        title="{{Afficher les évènements de la caméra}}"></i>
                </div>
                #actionsModal#
            </div>
        </div>
    </div>

    <script>
        if (window.imgSrc === undefined) {
            let imgSrc = "/plugins/frigate/core/ajax/frigate.proxy.php?url=#imgUrl#";
            console.log('Image Source URL: ' + decodeURIComponent(imgSrc));
            let imgElement = document.getElementById('imgFrigate' + #id#);

            let intervalId;

            const observerOptions = {
                root: null,
                rootMargin: '0px',
                threshold: 0.1 // image considérée visible si au moins 10% est visible
            };

            const observerCallback = (entries, observer) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        startImageFetchInterval();
                    } else {
                        stopImageFetchInterval();
                    }
                });
            };

            const observer = new IntersectionObserver(observerCallback, observerOptions);
            observer.observe(imgElement);

            function startImageFetchInterval() {
                if (!intervalId) {
                    intervalId = setInterval(refreshImage, #refresh#);
                }
            }

            function stopImageFetchInterval() {
                if (intervalId) {
                    clearInterval(intervalId);
                    intervalId = null;
                }
            }

            function refreshImage() {
                let newSrc = imgSrc + encodeURIComponent("&t=" + new Date().getTime());
                console.log('Refreshing image with URL: ' + decodeURIComponent(newSrc));
                imgElement.src = newSrc;
                // Vérifiez si la modal est ouverte et rafraîchissez l'image dans la modal également
                var modal = document.getElementById("myModal#id#");
                var modalImg = document.getElementById("modalImg#id#");
                if (modal.style.display === "block") {
                    modalImg.src = newSrc;
                }
            }

            // setInterval(refreshImage, 2000); // Refresh every 20 seconds
            refreshImage(); // Initial call to display the image immediately            

        }
        function gotoCameraEvents#id#() {
            const camera = '#cameraName#';
            jeedomUtils.loadPage("index.php?v=d&m=frigate&p=events&cameras=" + camera);
        }
        function execAction(cmdid) {
            jeedom.cmd.execute({
                id: cmdid
            })
        }

        function openModal#id#(imgElement) {
            var modal = document.getElementById("myModal#id#");
            var modalImg = document.getElementById("modalImg#id#");

            modal.style.display = "block";
            modalImg.src = imgElement.src;  // Assurez-vous que l'image de la modal utilise l'URL actuelle
        }

        function closeModal#id#() {
            var modal = document.getElementById("myModal#id#");
            modal.style.display = "none";
        }

        function execSelectedPreset#id#() {
            var presetId = document.getElementById("presetSelect#id#").value;
            console.log(presetId);
            if (presetId) {
                execAction(presetId);
            }
        }
    </script>

    <style>
        :root {
            --frigate-icone-color#id#: orange;
        }

        .frigate_widget {
            width: 435px !important;
            /*      height: 315px !important;*/
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }



        .frigate_widget .iconGotoCameraEvents#id# {
            font-size: 12px;
            color: var(--eqTitle-color) !important;
            margin-right: 5px;
        }

        .frigate_widget .column {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: auto;
        }

        /* Container de l'image */
        .frigate_widget .img-container {
            position: relative;
            flex-grow: 1;
            min-width: 100%;
            width: 100%;
            height: auto;
            background-image: url('/plugins/frigate/data/no-image.png');
            background-size: cover;
            background-position: center;
        }

        /* Image responsive */
        .frigate_widget .img-container img {
            position: relative;
            z-index: 1;
            width: 100%;
            height: auto;
            object-position: top;
            /* object-fit: cover; */
            object-fit: contain;
        }

        /* Boutons en bas de l'image */
        .frigate_widget .btn-container {
            width: 100%;
            height: auto !important;
            position: relative !important;
            text-align: center;
            background-color: rgb(var(--defaultBkg-color)) !important;
            z-index: 98;
            /*
            bottom: 0;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            */
            margin-top: 0px;
        }

        /* Boutons d'action */
        .frigate_widget .btn-icon {
            display: inline-flex;
            text-align: right;
        }

        .preset-select#id# {
            width: 100px !important;
            height: 32px;
            padding: 0px;
            font-size: 14px;
            color: rgb(var(--defaultText-color)) !important;
            background-color: rgb(var(--defaultBkg-color)) !important;
            border: 1px solid orange !important;
            border-radius: 5px;
        }

        .preset-select#id#:focus {
            outline: none;
        }

        .preset-select#id# option {
            padding: 10px;
        }

        .frigate_widget .btn-actions {
            border-top: solid !important;
            border-color: rgb(var(--defaultText-color)) !important;
            border-width: 2px !important;
            height: auto !important;
        }

        .frigate_widget .btn-detect {
            position: absolute;
            bottom: 5px;
            right: 5px;
            z-index: 100;
            text-align: right;
        }

        .circle-overlay {
            position: absolute;
            bottom: 4px;
            /* Ajuster selon l'espacement voulu */
            left: 4px;
            /* Ajuster selon l'espacement voulu */
            width: 60px;
            height: 60px;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 50%;
            z-index: 1;
        }

        .frigate_widget .btn-ptz-left,
        .frigate_widget .btn-ptz-right,
        .frigate_widget .btn-ptz-up,
        .frigate_widget .btn-ptz-down,
        .frigate_widget .btn-ptz-stop {
            position: absolute;
            text-align: center;
            z-index: 100;
        }

        .frigate_widget .btn-ptz-left {
            bottom: 21px;
            /* Positionné au-dessus du cercle */
            left: 6px;
            /* Ajuster pour aligner avec le cercle */
        }

        .frigate_widget .btn-ptz-right {
            bottom: 21px;
            /* Positionné au-dessus du cercle */
            left: 55px;
            /* Ajuster pour aligner avec le cercle */
        }

        .frigate_widget .btn-ptz-up {
            bottom: 46px;
            /* Positionné au-dessus du cercle */
            left: 28px;
            /* Ajuster pour aligner avec le cercle */
        }

        .frigate_widget .btn-ptz-down {
            bottom: -1px;
            /* Positionné au-dessus du cercle */
            left: 28px;
            /* Ajuster pour aligner avec le cercle */
        }

        .frigate_widget .btn-ptz-stop {
            bottom: 24px;
            /* Positionné au-dessus du cercle */
            left: 28px;
            /* Ajuster pour aligner avec le cercle */
        }

        .frigate_widget .iconPTZleft#id#,
        .frigate_widget .iconPTZright#id#,
        .frigate_widget .iconPTZup#id#,
        .frigate_widget .iconPTZdown#id# {
            color: var(--eqTitle-color) !important;
            font-size: 20px;
            transition: transform 1s ease !important;
        }

        .frigate_widget .iconPTZstop#id# {
            color: var(--eqTitle-color) !important;
            font-size: 14px;
            transition: transform 1s ease !important;
        }

        .frigate_widget .iconPTZleft#id#:hover,
        .frigate_widget .iconPTZright#id#:hover,
        .frigate_widget .iconPTZup#id#:hover,
        .frigate_widget .iconPTZdown#id#:hover,
        .frigate_widget .iconPTZstop#id#:hover,
        .frigate_widget .iconZoomIn#id#:hover,
        .frigate_widget .iconZoomOut#id#:hover {
            color: orange !important;
            transform: scale(1.5) !important;
        }

        .frigate_widget .btn-ptz-zoom-in,
        .frigate_widget .btn-ptz-zoom-out {
            position: absolute;
            text-align: center;
            z-index: 100;
            width: 20px;
            height: 20px;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 50%;
        }

        .frigate_widget .btn-ptz-zoom-in {
            top: 2px;
            /* Positionné au-dessus du cercle */
            left: 2px;
            /* Ajuster pour aligner avec le cercle */
        }

        .frigate_widget .btn-ptz-zoom-out {
            top: 24px;
            /* Positionné au-dessus du cercle */
            left: 2px;
            /* Ajuster pour aligner avec le cercle */
        }

        .frigate_widget .iconZoomIn#id#,
        .frigate_widget .iconZoomOut#id# {
            color: var(--eqTitle-color) !important;
            font-size: 12px;
            transition: transform 1s ease !important;
        }

        .frigate_widget .iconDetect#id# {
            padding: 10px;
            font-size: 20px;
            color: red !important;
        }

        .frigate_widget .iconDetectOff#id# {
            padding: 10px;
            font-size: 20px;
            color: var(--txt-color) !important;
        }

        .frigate_widget .iconAction#id# {
            padding: 10px;
            font-size: 20px;
            color: var(--frigate-icone-color#id#) !important;
            transition: transform 1s ease;
        }

        .frigate_widget .iconAction#id#:hover {
            transform: scale(1.5);
        }

        .frigate_widget .iconActionOff#id# {
            padding: 10px;
            font-size: 20px;
            color: var(--txt-color) !important;
            transition: transform 1s ease;
        }

        .frigate_widget .iconActionOff#id#:hover {
            transform: scale(1.5);
        }

        /* Modal */
        .frigate_widget .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            padding-top: 50px;
            padding-bottom: 30px !important;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.9);
            border-color: rgb(var(--defaultText-color)) !important;
            border-width: 1px !important;
            /* Fond noir transparent */
        }

        /* Contenu de la modal (image) */
        .frigate_widget .modal-content {
            margin: auto;
            display: block;
            z-index: 1000;
            max-width: 100%;
            max-height: 90%;
            padding: 10px !important;
        }

        /* Animation de zoom */
        .frigate_widget .modal-content,
        .close {
            animation-name: zoom;
            animation-duration: 0.6s;
        }

        @keyframes zoom {
            from {
                transform: scale(0)
            }

            to {
                transform: scale(1)
            }
        }

        .frigate_widget .modal .btn-actions {
            border-top: solid !important;
            border-color: rgb(var(--defaultText-color)) !important;
            border-width: 1px !important;
            height: auto !important;
        }

        /* Bouton fermer la modal */
        .frigate_widget .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: var(--eqTitle-color) !important;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }

        .frigate_widget .close:hover,
        .frigate_widget .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

        /* Responsiveness pour mobiles */
        @media (max-width: 768px) {
            .frigate_widget .img-container img {
                width: 100%;
                height: auto;
            }

            .frigate_widget .btn-container {
                bottom: 0;
                width: 100%;
            }

            .frigate_widget .modal-content {
                max-width: 100%;
                max-height: 100%;
            }
        }
    </style>
</div>