<div class="eqLogic eqLogic-widget allowResize allowReorderCmd frigate_widget frigate #custom_layout# #eqLogic_class# #class#"
    data-version="#version#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-eqType="#eqType#" data-tags="#tags#"
    style="text-align:center; border:#border#; border-radius:#border-radius#; color: #color#;width: #width#;height: #height#;#style#;">
    <center class="widget-name">
        <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
        <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
    </center>

    <img id="imgFrigate#id#" class="img-responsive" src="" />

    <script>
        if (typeof window.imgSrc === 'undefined') {
            let imgSrc = "/plugins/frigate/core/ajax/frigate.proxy.php?url=#imgUrl#";
            console.log('Image Source URL: ' + imgSrc.replace(/&amp;/g, '&'));
            let imgElement = document.getElementById('imgFrigate' + #id#);

            function refreshImage() {
                let newSrc = imgSrc.replace(/&amp;/g, '&') + "&t=" + new Date().getTime();
                console.log('Refreshing image with URL: ' + newSrc);
                imgElement.src = newSrc;
            }

            setInterval(refreshImage, 2000); // Refresh every 20 seconds
            refreshImage(); // Initial call to display the image immediately
        }
    </script>
</div>