.frigateEventList {
  display: grid !important;
  margin: 0 auto;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
  grid-auto-rows: 140px;
}

.frigateEventContainer {}

.frigateEvent {
  display: grid;
  background-color: rgb(var(--defaultBkg-color));
  margin-bottom: 10px;
  border-radius: 10px;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.imgSnap {
  flex: 0 0 auto;
  width: 125px;
  height: 125px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: cover;
  border-radius: 10px;
}

.eventText {
  /* flex: 1 1 auto; */
  /* position: relative; */
  /* margin-left: 20px; */
  /* display: flex; */
}

.eventBtns {
  display: flex;
  flex-direction: column;
}

.hover-button {
  background: none;
  border: none;
  color: rgb(var(--defaultText-color));
  font-size: 20px;
}

.hover-button:hover~.hover-image {
  display: block;
}

.hover-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* Align buttons to the right */
}

.eventHidden {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 60px;
}

.modal-content {
  background-color: rgb(var(--defaultBkg-color));
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h2 {
  flex: 1;
  margin: 0;
}

.button-container {
  display: flex;
  gap: 10px;
}

.custom-button {
  background-color: rgb(var(--defaultBkg-color));
  color: rgb(var(--defaultText-color));
}

.media-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.video-container,
.image-container {
  display: none;
}

.video-container,
.image-container {
  width: 100%;
}

.video-container video,
.image-container img {
  width: 100%;
  display: block;
}

.active {
  display: block;
}

.hidden-btn {
  display: none;
}

.duration {
  display: inline-block;
  padding: 0 5px 0 5px;
  border-radius: 3px;
  background-color: #B9A9A7;
  color: black;
  font-weight: bold;
  margin-left: 10px;
  line-height: 18px;
}

.durationTitle {
  height: 30px;
  line-height: 28px !important;
}

.container-text {
  flex-shrink: 0;
}

.percentage {
  display: inline-block;
  padding: 0 2px 0 2px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  line-height: 16px;
  margin-left: 10px;
}

.percentageTitle {
  height: 30px;
  line-height: 28px !important;
}

.percentage[data-percentage="100"] {
  background-color: #4caf50;
}

.percentage[data-percentage^="9"] {
  background-color: #4caf50;
}

.percentage[data-percentage^="8"] {
  background-color: #66bb6a;
}

.percentage[data-percentage^="7"],
.percentage[data-percentage^="6"] {
  background-color: #ff9800;
}

.percentage[data-percentage^="5"] {
  background-color: #f44336;
}

.percentage[data-percentage^="4"],
.percentage[data-percentage^="3"],
.percentage[data-percentage^="2"],
.percentage[data-percentage^="1"] {
  background-color: #b71c1c;
}

.percentage[data-percentage^="0"] {
  display: none;
}

.zones {
  display: inline-block;
  background-color: var(--link-color);
  border-radius: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  line-height: 16px;
  color: #000000;
  padding: 0 3px 0 3px;
}

.inline-title {
  font-size: 1.5em;
  font-weight: bold;
}

.inline-subtitle {
  font-size: 1em;
  color: black;
  margin-left: 18px;
}

.datetime-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.datetime-container label {
  font-size: 16px;
  font-weight: bold;
  color: rgb(var(--defaultText-color));
}

.datetime-container input[type="datetime-local"] {
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 14px;
  color: rgb(var(--defaultText-color));
  transition: border-color 0.3s;
}

.datetime-container input[type="datetime-local"]:focus {
  border-color: #007BFF;
  outline: none;
}

.radio-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 5px;
}

.radio-container label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: rgb(var(--defaultText-color));
  cursor: pointer;
}

.radio-container input[type="radio"] {
  display: none;
}

.custom-radio {
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  transition: border-color 0.3s;
}

.radio-container input[type="radio"]:checked+.custom-radio {
  border-color: #fa8b09;
}

.radio-container input[type="radio"]:checked+.custom-radio::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fa8b09;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 5px;
}

.checkbox-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  flex: 1;
}

.checkbox-container label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: rgb(var(--defaultText-color));
  cursor: pointer;
  position: relative;
  padding-left: 30px;
}

.checkbox-container input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s, background-color 0.3s;
}

.checkbox-container input[type="checkbox"]:checked+.custom-checkbox {
  border-color: #fa8b09;
  background-color: #fa8b09;
}

.custom-checkbox::after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox-container input[type="checkbox"]:checked+.custom-checkbox::after {
  display: block;
}

.btn {
  margin-bottom: 10px;
}

.img-container {
  position: relative;
  display: inline-block;
}

.imgSnap {
  display: block;
}

.favorite-btn {
  position: absolute;
  top: 2px;
  left: 2px;
  background: transparent;
  border: none;
  font-size: 18px;
  color: gold;
  cursor: pointer;
  z-index: 9;
}

.filter {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 5px 0;
  z-index: 7;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}