.motion-configuration {
    position: relative;
    display: inline-block;
  }
  .motion-border span {
    border: 1px solid #EF0B01 !important;
  }
  .motion-configuration span {
    border: 1px solid transparent;
  }
  
  .regions-configuration {
    position: relative;
    display: inline-block;
  }
  
  .regions-border span {
    border-color: #0DEF09 !important;
  }
  
  .regions-configuration span {
    border: 1px solid transparent;
  }