.frigate_widget .btn-container {
    padding-top: 2px;
    width: 95%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 98;
}

/* Styles pour la galerie */
.gallery-container {
    padding-top: 10px;
}

.gallery-item {
    height: 100%;
    /* S'assure que tous les éléments prennent toute la hauteur disponible */
    margin-bottom: 20px;
}

.img-container {
    position: relative;
    text-align: center;
}

.gallery-img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery-img:hover {
    transform: scale(1.05);
}

.image-caption {
    text-align: center;
    margin-top: 10px;
}

.delete-btn {
    display: block;
    margin: 10px auto;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #d9534f;
}